@use 'variables' as *;

.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.header h1{
    color: white;
    font-size: 4vh;
    align-self: center;
}

.main {
    background: rgba(255, 255, 255, 0.576);
    border-radius: 40px;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@mixin btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 22px;
    margin: 10px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    word-spacing: -2px;

    &:hover{
        background-color: $bg-hover;
        transform: $transform;
        animation: $animation;
    }
    
}

.popup-btn{
    width: 80px;
    height: 80px;
    background-image:url("./assets/image-popup.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

.main-btn,
.dir-btn,
.popup-btn{
    @include btns;
}