@import url('https://fonts.cdnfonts.com/css/sf-funk-master');
$font:'SF Funk Master';

$frame: clamp(12px, 3vw, 28px);
$frame-size: 100px;

$background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);